/* Menü stilizasyonu */
.navbar {
  background-color: #000; /* Navbar'ın arka planını siyah yapıyoruz */
  padding: 10px 0;
  position: absolute; /* Navbar'ın sayfa üzerinde sabit kalmasını sağlamak */
  top: 0; /* Navbar'ı sayfanın üst kısmına hizalayalım */
  width: 100%; /* Navbar'ın tüm genişliği kapsaması için */
  z-index: 1; /* Navbar'ın diğer öğelerin üzerinde olmasını sağla */
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Flexbox kullanarak menüyü yatayda hizalarız */
  justify-content: center; /* Menüyü yatayda ortalar */
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px; /* Butonlar için padding ekledik */
  background-color: #333; /* Butonlar için arka plan rengi */
  border-radius: 5px; /* Butonlara yuvarlak köşe */
  transition: background-color 0.3s; /* Hover efekti için geçiş */
}

.navbar ul li a:hover {
  color: #FFF; /* Menüyü üzerine geldiğinde yazı rengi beyaz olur */
  background-color: #FF0000; /* Hover efektinde buton rengi değişir */
}

/* Butonlarda aktif durum için stil */
.navbar ul li a:active {
  background-color: #CC0000; /* Buton basıldığında daha koyu kırmızı */
}

.content {
  display: flex;
  justify-content: center; /* Yatayda ortalar */
  align-items: center; /* Dikeyde ortalar */
  height: calc(100vh - 50px); /* Menü yüksekliğini hesaba kat */
  margin-top: 50px; /* Navbar'ın altına yerleşmesi için */
  text-align: center;
  background-color: rgba(192, 192, 192, 0.8); /* İçeriğe yarı saydam arka plan */
}

.content h1 {
  font-size: 36px;
  color: #333;
  margin: 0;
}
